$bold:'bold';
$regular:'regular';
$light:'light';
$thin:'thin';
$semi:'semi';

// ==================================header========================

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 14vh;
    flex-wrap: wrap;
    width: 100%;
    .logo{
        width: 30%;
        object-fit:contain;
        
        img{
            width:100%;
        }
  
    }
  
    .menu{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
       z-index: 4;
      cursor: pointer;
      
      position: relative;
      .bar{
  
          width: 50%;
          height: 5px; 
          right: 0%;
          border-radius: 5px;
          background-color: white;
          transition: all .4s ease-in-out;
  
          &::before{
              content: '';
                 width: 50%;
                 height: 5px ;
                 border-radius: 5px;
                 background-color:white;
                 position: absolute;
                 top: 30%;
                 left: 25%;
                 transition: all .4s ease-in-out;
          }
          &::after{
              content: '';
              width: 50%;
              height: 5px;
              background-color: white;
              position: absolute;
              border-radius: 5px;
              bottom: 30%;
              left: 25%;
              transition: all .4s ease-in-out;
          }
          
      }
  
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: #181818;
        width:100%;

        ul{
            display: none;
          
            list-style: none;
            
            text-align: center;
           
            li{
                
                a{
                    color: white !important;
                    text-decoration: none;
                    font-size: 25px;
                    font-family: $regular;
                }
            }
        }
    }
  
 
  
  }

//   =======================================open======================

.open{
    height: 100vh;
    width: 90%;
    z-index: 4;
   
 .menu{
    
     position: absolute;
     z-index: 4;
     width: 10%;
     top: 34px;
     left:0%;
     
     .bar{
         background: transparent;
         position: absolute;
         &::before{
            transform: rotate(45deg) translate(14px, 14px);
            background-color:white;
            width: 50px;
         }
         &::after{
             width: 28px;
             transform: rotate(-45deg) translate(-17px, 14px);
           
             width: 50px;
             background-color: white;
            
         }
     }
    
 }
 nav{

    
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
   ul{
     padding:40px 90px;
     display: block;
   
  
     li{
         list-style: none;
         a{
              color: white;
              text-decoration: none;
              font-size: 22px;
              margin: 5px;
              font-family: $regular;

         }
        
     }
 }

 }
 



}



// ================================banner==========================

.banner{
   background-image: url(../img/lastpage.png);
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   h1{
       font-family: $bold;
       font-size: 30px;
       color: white;
   }



}


// ================================aboutsphere=====================

.about{

    padding: 50px 10px;
    text-align: center;
    h2{
        font-size: 25px;
    }
    .aboutinner{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 22px;
            font-family: $bold;
        }
        p{
            font-family: $bold;
            font-size: 18px;
        }
    }

}


// ==================================services=====================

.services{

    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .service{
       
        h3{
            font-size: 22px;
            font-family: $bold;
            margin: 20px;
        }
    }
    p{
        font-family: 20px;
        font-family: $bold;
    }

    button{
        color: white;
        background-color: black;
        border: none;
        width: 42%;
        height: 7vh;
        margin: auto;
    }


}

// ===========================footer================================

footer{
    background-color: black;
    padding: 25px 20px 10px;
    align-items: center;
    text-align: center;
    img{
        width: 50%;
        margin: auto;

    }
        hr{
            width: 90%;
            height: 1.5px;
            opacity: 1;
            color: white;
            margin:5px auto;
        }

    ul{
        list-style: none;
        display: flex;
        li{
            text-align: left;
            margin: auto 2px;
            a{
                text-decoration: none;
                font-size: 13px;
                font-family: $thin;
                color: white;
              


            }
        }
    }
}


// ============================PC view=========================


@media (min-width:1024px){

// ===============================header========================


header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 14vh;
    flex-wrap: wrap;
    width: 100%;
    .logo{
        width: 15%;
        object-fit:contain;
        
    }
  
    .menu{
      width:16%;
      display: flex;
      align-items: center;
      justify-content: center;
       z-index: 4;
      cursor: pointer;
      
      position: relative;
      .bar{
  
          width: 18%;
          height: 5px; 
          left: 15%;
          background-color: white;
          transition: all .4s ease-in-out;
  
          &::before{
              content: '';
                 width: 18%;
                 height: 5px ;
                 background-color:white;
                 position: absolute;
                 top: 30%;
                 left: 41%;
                 transition: all .4s ease-in-out;
          }
          &::after{
              content: '';
              width: 18%;
              height: 5px;
              background-color: white;
              position: absolute;
              bottom: 31%;
              left: 41%;
              transition: all .4s ease-in-out;
          }
          
      }
  
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: #181818;
        width:100%;

        ul{
            display: none;
          
            list-style: none;
            
            text-align: center;
           
            li{
                
                a{
                    color: white !important;
                    text-decoration: none;
                    font-size: 25px;
                    font-family: $regular;
                }
            }
        }
    }
  
 
  
  }

//   ====================================open===============
  .open{
    height: 100vh;
    width: 90%;
    z-index: 4;
   
 .menu{
    
     position: absolute;
     z-index: 4;
     width: 10%;
     top: 36px;
     left:0%;
     
 }
 nav{
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: 100vh;
   ul{
       text-align: left;
   }


 }
 
}
// ===========================banner================

.banner{
    height: 100vh;
    h1{
        font-size: 44px;
    }
}

// =========================about================

.about{
    padding: 50px 20px;
    text-align: left;
    .aboutinner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px auto;
        h3{
            font-size: 44px;
            font-family: $bold;
            width: 40%;
        }
        p{
            width: 60%;
            font-family: $bold;
        }
    }
}

// ====================services=============================

.services{
    position: relative;
    padding: 50px 60px;
    .serve{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .service{
            width: 55%;
            text-align: left;
            h3{
                font-size: 35px;
                font-family: $bold;
                margin: 35px auto;
            }
        }
        .para{
            width: 45%;
            
            p{
            font-size: 21px;
            font-family: $bold;
            }
            
        }
    }
    button{
        position: absolute;
        right: 5%;
        bottom: 8%;
        height: 6vh;
        width: 19%;
    }
   
}

// =====================================footer=============

footer{
    background-color: black;
    padding: 25px 20px 10px;
    align-items: center;
    text-align: center;
    img{
        width: 25%;
        margin: auto;

    }
        hr{
            width: 90%;
            height: 1.5px;
            opacity: 1;
            color: white;
            margin:5px auto;
        }

    ul{
       
        text-align: center;
        li{
           
            margin:15px auto;
            a{
                text-decoration: none;
                font-size: 28px;
                font-family: $thin;
                color: white;
              


            }
        }
    }
}

}


@media (min-width:569px) and (max-width:768px){

    // ====================================header====================
    header{
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 14vh;
        flex-wrap: wrap;
        width: 100%;
        .logo{
            width: 15%;
            object-fit:contain;
        }
      
        .menu{
          width:15%;
          display: flex;
          align-items: center;
          justify-content: center;
           z-index: 4;
          cursor: pointer;
          position: relative;
          .bar{
      
              width:40%;
              height: 6px; 
             
      
              &::before{
                  content: '';
                     width:40%;
                     height: 6px ;
                   
                     top: 37%;
                     left: 30%;
                     
              }
              &::after{
                  content: '';
                  width: 40%;
                  height: 6px;
               
                  bottom: 37%;
                  left: 30%;
                
              }
              
          }
      
        }
        nav{
        
    
            ul{
                display: none;
              
                list-style: none;
                
                text-align: center;
               
                li{
                    
                    a{
                        color: white !important;
                        text-decoration: none;
                        font-size: 25px;
                        font-family: $regular;
                    }
                }
            }
        }
      
     
      
      }

       //   ====================================open===============
       .open{
        height: 100vh;
        width: 90%;
        z-index: 4;
       
     .menu{
        
         position: absolute;
         z-index: 4;
         width: 10%;
         top: 36px;
         left:0%;
        
     }
     nav{
    
        
       flex-direction: row;
       ;
       ul{
           text-align: left;
       }
    
    
     }
     
    
    
    
    }

    .banner{
        height: 80vh;
        h1{
            font-size: 40px;
        }
    }
// =========================about================

.about{
    padding: 50px 20px;
    text-align: center;
    h2{
        font-size: 30px;
    }
    .aboutinner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        margin: 40px auto;
        h3{
            font-size: 44px;
            font-family: $bold;
            width: 100%;
            margin: 20px;
        }
        p{
            width: 100%;
            font-family: $bold;
        }
    }
}

// ====================services=============================

.services{
    position: relative;
    padding: 50px 60px;
    .serve{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .service{
            width: 55%;
            text-align: left;
            h3{
                font-size: 35px;
                font-family: $bold;
                margin: 35px auto;
            }
        }
        .para{
            width: 42%;
            text-align: left;
            
            p{
            font-size: 21px;
            font-family: $bold;
            }
            
        }
    }
    button{
        position: absolute;
        right: 5%;
        bottom: 8%;
        height: 6vh;
        width: 19%;
    }
   
}


// =====================footer=========================

footer{
    background-color: black;
    padding: 25px 20px 10px;
    align-items: center;
    text-align: center;
    img{
        width: 25%;
        margin: auto;

    }
        hr{
            
            height: 2px;
            opacity: 1;
            
        }

    ul{
       
        text-align: center;
        li{
           
            margin:10px auto;
            a{
               
                font-size: 25px;
                


            }
        }
    }
}


}